<h1>My Characters</h1>
<%= form_with url: import_api_v1_characters_url do |f| %>
  <%= f.label :import_characters %> <br>
  <%= f.file_field :character_data_file %>
  <%= f.submit "Submit" %>
<% end %>
<%= button_to 'Export character data', '/api/v1/characters.export' unless @characters.empty? %>
  

<br>


<% if @characters.empty? %>
    <p>You don't have any characters yet.</p> 
<% else %>
    <div class='characters-container'>
    <% @characters.each do |character|%>
    
        
    <a class='character-div' href=<%=character_path(character)%> >
        <h2><%= character.name%> </h2>
        <img class='character-img' src="<%=(url_for(character.image)) if character.image.attached?%>"> 
    </a>
    <br>
   
    <% end %>
     </div>
<% end %>
<%= link_to 'Create a character', new_character_path %>