<h1>My Characters</h1>
<%= form_with url: import_api_v1_characters_url do |f| %>
  <%= f.label :import_characters %> <br>
  <%= f.file_field :character_data_file %>
  <%= f.submit "Submit" %>
<% end %>
<%= button_to 'Export character data', '/api/v1/characters.export' %>
<br>


<% if @characters.empty? %>
    <p>You don't have any characters yet.</p> 
<% else %>
    <% @characters.each do |character|%>
        <%= link_to character.name, character_path(character) %> 
    <a href=<%=character_path(character)%> > <img src="<%=(url_for(character.image)) if character.image.attached?%>"> 
    <br>
    <% end %>
<% end %>
<%= link_to 'Create a character', new_character_path %>