<h1><%= @character.name %> </h1>
<%= link_to 'Edit character', edit_character_path(@character) %>
    

    <img src="<%=url_for(@character.image) if @character.image.persisted?%>" > 



    <h2>Stats<h2>
        <p> <%= simple_format(@character.stats) %> </p>
    
    <h2>Description<h2>
        <p> <%= simple_format(@character.description) %> </p>
    